* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(10, 10, 10);
    color: rgb(235, 235, 235);
}

#title {
    text-align: center;
    text-shadow: 2px 2px 1px rgb(70, 20, 206);
}

.container {
    background-color: rgb(235, 235, 235);
    margin: 3.0rem;
}

#display {
    background: rgb(97, 51, 204);
    text-align: right;
    height: 2.0rem;
    border: 2px solid rgb(235, 235, 235);
}

#calc {
    border: 2px solid rgb(70, 20, 206);
    padding: 1.0rem;
}

.num-btn, .operators, .clear {
    border: 2px solid #000;
    color: #000;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(171, 19, 209);
    padding: 1.0rem;
    margin: 0.15rem;
}